.cta-section {
  font-family: "Helvetica", sans-serif;
  padding: 60px 0;
  // padding-top: 27px;
  // padding-bottom: 27px;

  &.cta-home {
    > div {
      align-items: center;
      gap: 5.5% !important;
    }
    h2 {
      font-size: 28px;
      color: #ffffff;
    }
  }

  a.free-quote-btn {
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.7em;
    text-decoration: none;
    color: #ffffff;
    background-color: #F47B20;
    border: 2px solid #ffffff;
    border-radius: 22.5px;
    padding: 0.3em 24px;
    margin: 25px 0;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 30%);
    transition: all 300ms ease 0ms;
    &:hover {
      color: #00aec7;
      border-color: #00aec7;
      background-color: #ffffff;
    }
  }

  h2 {
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 41.6px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    color: #646464;
    margin: 0;
  }
  p {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.8em;
    color: #646464;
  }

  @include mediaQueries(ipad) {
    .form {
      justify-content: center;
    }
    &.cta-home {
      > div {
        gap: 2rem !important;
      }
      h2 {
        margin-left: 20px;
      }
    }
  }
  @include mediaQueries(mobile) {
    .form {
      justify-content: center;
    }
    &.cta-home {
      h2 {
        margin: 0 20px;
      }
    }
  }
  .form {
    input {
      font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
      border: 1px solid #00aec7;
      font-size: 15px;
      text-align: center;
      outline: none;
      width: 162px;
      height: 48.5px;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 30%);
      &::placeholder {
        color: #00aec7;
        opacity: 1;
      }
      &:-ms-input-placeholder {
        color: #00aec7;
      }
      &::-ms-input-placeholder {
        color: #00aec7;
      }
    }
    button {
      font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif;
      background-color: #00aec7;
      color: #fff;
      font-weight: 700;
      font-size: 16px;
      border-bottom-right-radius: 2px;
      border-top-right-radius: 2px;
      border: 1px solid #00aec7;
      cursor: pointer;
      width: auto;
      height: 48.5px;
      white-space: nowrap;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 30%);
      &:disabled {
        background-color: #008184;
        border-color: #008184;
        cursor: default;
      }
    }

    @include mediaQueries(padpro) {
      .form {
        gap: 0 !important;
      }
    }
    @include mediaQueries(ipad) {
      height: unset;
      padding: 25px 0;
      .container {
        flex-direction: column;
        gap: 1rem !important;
      }
    }
    @include mediaQueries(mobile) {
      height: unset;
      padding: 25px 0;
      .container {
        flex-direction: column;
        gap: 1rem !important;
      }
      .form {
        gap: 0 !important;
      }
    }
  }

  @include mediaQueries(ipad) {
    background-position: bottom;
    background-size: 100% 470px;
    div {
      width: 100% !important;
    }
  }

  @include mediaQueries(mobile) {
    background-position: bottom;
    background-size: 100% 270px;
    div {
      width: 100% !important;
    }
    .content-left {
      width: 100% !important;
    }
  }
}
