.hero-block {
  .hero-section-mobile {
    display: none;
  }
  @include mediaQueries(mobile) {
    .hero-section-desktop {
      display: none;
    }
    .hero-section-mobile {
      display: block !important;
      .hero-section {
        div {
          .hero-image {
            margin: 0 -12%;
            width: 124%;
          }
        }
      }
    }
  }
  .hero-section {
    background-repeat: no-repeat;
    .content-left {
      width: 580px;
    }
  

    @include mediaQueries(mobile) {
      .hero-content > div {
        width: 100% !important;
      }

      .content-left {
        width: 100% !important;
      }
    }
  }
  .hero-section-shadow {
    box-shadow: 0px 2px 18px 0px rgb(0 0 0 / 30%);
  }
}
