section.multi-column {
    div.container {
      .column-container > div {
        box-sizing: border-box;
      }
    }
    @include mediaQueries(ipad) {
        .column-container > div {
            width: 100% !important;
        }
    }
  
    @include mediaQueries(mobile) {
        .column-container {
            align-items: center;
            justify-content: center;
        }
        .column-container > div {
            width: 100% !important;
        }
    }
}
