.partnership-form-detail {
    .grey {
        color: #646464
    }
    .mb-0 {
        margin-bottom: 0px;
    }
    .mb-30 {
        margin-bottom: 30px;
    }
    .mb-5 {
        margin-bottom: 5px !important;
    }
    .mb-15 {
        margin-bottom: 15px;
    }
    .mb-35 {
        margin-bottom: 35px;
    }
    .mt-10 {
        margin-top: 10px;
    }
    .mt-40 {
        margin-top: 40px;
    }
    .mt-55 {
        margin-top: 55px;
    }
    .mt-100 {
        margin-top: 100px;
    }
    .radius-30 {
        border-radius: 30px;
    }
    .relative {
        position:relative
    }
    .left-10 {
        left: 10px
    }
    span:not(#fileupload span) {
        color: red;
        position: absolute;
        width: 250px;
    }
    .checkbox-list {
        input[type=checkbox] {
            width: 30px;
            height: 40px;
            position:relative;
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px
        }
        .primary-leads {
            width: 50%;
        }
    }
}

.partnership-form {
    .submit-button {
        color: #ffff;
        background-color: rgb(244, 123, 32);
        padding: .3em 19px;
        width: 170px;
    }
    // .phone-field {
    //     max-width: 90%;
    // }
}
