.cards-container {
  max-width: 1080px;
}
.review-card {
  div.card-header {
    h2 {
      color: #fff;
      font-family: sans-serif;
      font-size: 26.5px !important;
      letter-spacing: 1px;
      line-height: 34.45px;
      font-weight: 550;
    }
  }
  div.card-body {
    p {
      font-family: sans-serif;
      line-height: 28.8px;
      font-weight: 300;
    }
    b {
      font-size: 16px;
      font-weight: 550;
    }
    div.card-review-rating {
      img {
        width: 150px;
        height: 20px;
      }
    }
  }
  div.card-background {
    background-color: $gray-100 !important;
  }
}
