.cards-container {
  max-width: 1080px;
}
.review-card {
  div.card-header {
    h2 {
      color: #fff;
    }
  }
  div.card-body {
    div.card-review-rating {
      img {
        width: 150px;
        height: 20px;
      }
    }
  }
  div.card-background {
    background-color: $gray-100 !important;
  }
}
