#accordion-card {
  .collapsing {
    transition: height 1.2s ease !important;
  }
  .accordion-symbol {
    background-color: #00a4c7;
    border: none;
    height: 30px;
  }
  .card-header {
    background-color: #ffffff;
    padding: 25px 20px;
  }
  .card {
    border-radius: 0px;
    border-left-width: 15px;
    border-left-color: #ed6306;
  }
  .card-active {
    border-left-color: #00a4c7;
    transition: border 0.7s linear;
  }
  .card-inactive {
    border-left-color: #ed6306;
    transition: border 0.7s linear;
    border-bottom: 0.1px #646464;
  }

  .header-title {
    background: 0 0;
    border: none;
    font-size: inherit;
    font-weight: inherit;
    text-align: left;
    line-height: inherit;
    padding: inherit;
    letter-spacing: inherit;
  }
  .sq-list {
    margin-left: 25px;
    list-style-type: disc;
    padding: 0 0 23px 1em;
    line-height: 26px;
    overflow-wrap: break-word;
  }
  ol,
  ul {
    list-style: none;
  }
  li {
    margin-bottom: 15px;
  }
}






