@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;500;700&family=Poppins:wght@400;600;700&display=swap");

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/Helvetica.eot");
  src: url("/fonts/Helvetica.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Helvetica.woff2") format("woff2"),
    url("/fonts/Helvetica.woff") format("woff"),
    url("/fonts/Helvetica.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/Helvetica-Bold.eot");
  src: url("/fonts/Helvetica-Bold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Helvetica-Bold.woff2") format("woff2"),
    url("/fonts/Helvetica-Bold.woff") format("woff"),
    url("/fonts/Helvetica-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ETmodules";
  src: url("/fonts/ETmodules.eot");
  src: url("/fonts/ETmodules.eot?#iefix") format("embedded-opentype"),
      url("/fonts/ETmodules.woff2") format("woff2"),
      url("/fonts/ETmodules.woff") format("woff"),
      url("/fonts/ETmodules.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

