body,
input,
textarea,
select {
  font-family: "Montserrat", sans-serif;
}

.block-render {
  @include mediaQueries(mobile) {
    .desktop-blockrender {
      display: none;
    }

    .mobile-blockrender {
      display: block !important;
    }
  }

  .mobile-blockrender {
    display: none;
  }

  .multi-column-section {
    .multi-column-mobile {
      display: none;
    }
  }

  .wp-container {
    width: 1200px;
    max-width: calc(100%);
    padding: 0;

    .partnership-form {
      .partnership-form-mobile {
        display: none;
      }
    }

    @include mediaQueries(mobile) {
      .partnership-form {
        .partnership-form-dekstop {
          display: none !important;
        }

        .partnership-form-mobile {
          display: block;
          margin-left: 30px;
          margin-right: 30px;
        }
      }
    }

    .button-container {
      .action-btn {
        display: inline-block;
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.7em;
        text-decoration: none;
        border: 2px solid #ffffff;
        padding: 0.3em 24px;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 30%);
        transition: all 300ms ease 0ms;
      }

      .btn-border {
        border-radius: 22.5px;
      }

      a {
        margin-left: 0px;
        margin-right: 0px;
      }

      // @include mediaQueries(mobile) {
      //   a {
      //     margin-left: 30px;
      //     margin-right: 30px;
      //   }
      // }
    }

    @include mediaQueries(mobile) {
      width: 1080px;
      max-width: calc(100% - 0px) !important;
      // margin: 0 !important;
      // padding: 0;

      .richtext-render-desktop {
        display: none !important;
      }

      .multi-column-section {
        .multi-column-desktop {
          display: none;
        }

        .multi-column-mobile {
          display: unset;
        }
      }
    }

    .richtext-render-mobile {
      display: none;
    }
  }

  h1,
  h2,
  h3 {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  h3 {
    font-size: 20px;
    font-weight: 550;
    letter-spacing: 0.25px;
    line-height: 26px;
  }

  h2 {
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 41.6px;
  }

  .btn-secondary-md {
    font-family: "Montserrat", sans-serif;
    color: $white;
    font-size: 16px;
    border-radius: 4px;
    text-shadow: none;
    padding: 10px 20px;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    background: $secondary;

    a {
      color: $white;
      text-decoration: none;
    }

    &:hover {
      background: $secondary;
      color: $white;
      border-color: #ccc;
      border-width: 1px;
    }
  }

  .btn-transparent-md {
    font-family: "Montserrat", sans-serif;
    color: $gray-500;
    font-size: 16px;
    padding: 10px 20px;
    font-weight: 300;
    line-height: normal;
    text-align: center;
    background: transparent;

    a {
      color: $gray-500;
      text-decoration: none;
    }

    &:first-child {
      &:active {
        border: none !important;
      }
    }
  }

  table {
    width: 100%;
  }

  table {
    border-width: 1px !important;
    border-color: #979797 !important;
    border-style: solid none solid solid !important;

    p {
      // word-break: break-all;
      margin-bottom: 0rem;
    }
  }

  table th {
    color: #555;
    font-weight: 700;
    padding: 9px 24px;
    border-right: 1px solid #979797;
  }

  table td {
    border-right: 1px solid #979797;
    border-top: 1px solid #e2dbdb;
    color: #555;
    padding: 9px 24px;
    font-weight: 400;
  }
}

.verticalLine {
  border-left: 2px solid #d8d8d8;
  height: 100%;
}

.gallery {
  .styles-module_close__2I1sI {
    right: 27% !important;
    top: 15%;
  }

  img {
    cursor: pointer;
    max-height: 550px;
  }

  .styles-module_wrapper__1I_qj {
    background-color: #3c3c3c !important;
  }
}

.border-r {
  border-right: "1px solid #D8D8D8";
}

// li {
//   margin: 15px 0;
// }

.border-r {
  border-right: 1px solid #d8d8d8;
}

.border-l {
  border-left: 1px solid #d8d8d8;
}

.container-color-text {
  padding: 30px 0px;

  .separater {
    font-weight: 700;
    color: #646464;
  }

  .title {
    font-weight: 800 !important;
    font-size: 36px !important;
    font-family: "Poppins", sans-serif !important;
    color: #646464;
  }

  .text {
    font-family: "Poppins", sans-serif;
  }
}

ol,
ul {
  padding-left: 1rem;
}

ol li {
  margin-bottom: 1em;
}
ul li {
  margin-bottom: 1em;
}
ul li:last-child {
  margin-bottom: 0;
}

.wp-container-mobile {
  display: none !important;
}
@include mediaQueries(mobile) {
  .wp-container-desktop {
    display: none !important;
  }
  .wp-container-mobile {
    .button-container {
      display: flex;
    }
    display: flex !important;
    max-width: calc(100% - 0px) !important;
  }
}

@include mediaQueries(mobile) {
  .gallery {
    flex-direction: column;
    align-items: center;
  }
}

// .form-control {
//   width: 100% !important;
// }
#fileupload {
  svg {
    display: none;
  }
  label {
    border : 1px solid #ced4da;
    height: 68px;
    min-width: 100%;
    max-width: 100%;
    border-radius: 10px;
    
  }
  span {
    text-decoration: none;
  }
  .file-types {
    display: none;
  }
  .sc-hLBbgP {
    white-space: pre-line;
  }
  // .sc-hLBbgP{
  //   span {
  //     display: none;
  //   }
  // }
  .zIGoD {
    p {
      padding: 15px;
      margin-bottom: 0px;
      font-size: 12px;
      font-weight: 400;
      color: #646446;
    }
  }
}
