header.homepage-header {
  font-family: "Montserrat", sans-serif;
  .header-logo {
    background-color: $white;
    padding: 7px 0;
    display: none;
    @include mediaQueries(ipad) {
      display: flex;
    }
    @include mediaQueries(mobile) {
      display: flex;
      .logo {
        width: 255px;
        height: 41px;
      }
      .logo img {
        object-fit: contain;
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
  .header-banner {
    background-color: $primary;
    height: 48.3px;
    @include mediaQueries(mobile) {
      flex-direction: column;
      height: unset;
      gap: 0 !important;
      padding: 7px 0;
    }
  }
  .phone-icon {
    position: relative;
    opacity: 1;
    transition: opacity 400ms;
    transition-delay: 0ms;
    animation: vibrate 1.5s infinite linear;
  }
  .phone-cta,
  .header-text {
    color: $white;
  }
  .phone-cta {
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    line-height: 16px;
  }
  .header-text {
    font-size: 18px;
    line-height: 1.8em;
  }
}

header.content-header {
  box-shadow: 0px 2px 18px 0px rgb(0 0 0 / 30%);

  .content-banner {
    background-color: $primary;
    height: 48.3px;
    .phone-icon {
      position: relative;
      opacity: 1;
      transition: opacity 400ms;
      transition-delay: 0ms;
      animation: vibrate 1.5s infinite linear;
    }
    .phone-cta,
    .content-header-text {
      color: $white;
    }
    .phone-cta {
      font-size: 18px;
      font-weight: 700;
      text-decoration: none;
      line-height: 16px;
    }
    .content-header-text {
      font-size: 18px;
      font-weight: 700;
      line-height: 16px;
    }
    @include mediaQueries(ipad) {
      height: auto !important;
      flex-direction: column;
      gap: unset !important;
      padding: 9px 0;
      a.phone-cta {
        font-size: 12px;
        line-height: 1px;
      }
      span.content-header-text {
        font-size: 12px;
      }
    }
    @include mediaQueries(mobile) {
      flex-direction: column;
      height: auto !important;
      gap: 0 !important;
      padding: 9px 0;
      a.phone-cta {
        font-size: 12px;
        line-height: 1px;
      }
      span.content-header-text {
        font-size: 12px;
      }
    }
  }
  .content-main-navbar {
    position: relative;
    background-color: $white;
    .main-mobile-nav {
      display: none;
      height: 82px;
      .burger-logo {
        display: flex;
        align-items: center;
        width: 32px;
        height: 32px;
        &:after {
          content: "\61";
          font-family: "ETmodules";
          font-style: normal;
          font-weight: 400;
          font-size: 32px;
        }
      }
    }
    .main-nav {
      margin: 0;
      justify-content: center;
      display: inline-block;
      padding: 0;
      li {
        position: relative;
        display: flex;
        align-items: center;
        padding: 8px 12px;
        font-size: 14px;
        margin-bottom: 0 !important;
        .free-quote-btn {
          display: inline-block;
          font-size: 16px;
          font-weight: 700;
          text-decoration: none;
          color: #f47b20;
          background-color: #ffffff;
          border: 2px solid #f47b20;
          border-radius: 22.5px;
          padding: 0.3em 24px;
          margin-top: 25px;
          margin-bottom: 25px;
        }
        a {
          text-decoration: none;
          font-family: "Montserrat", sans-serif;
          font-size: 14px;
          color: $text-dark;
          transition: 0.2s ease;
        }
        &:first-child {
          padding-right: 50px;
        }
        &:last-child {
          padding-left: 50px;
        }
      }
      .dropdown {
        position: relative;
        white-space: nowrap;
        margin: 0;

        &:hover {
          > a {
            color: $primary;
            &::after {
              color: #f47b20;
            }
          }
          > .dropdown-content {
            display: block;
          }
        }
        .dropdown {
          display: block;
          background-color: $secondary;
          padding: 0;
        }
      }
      .dropbtn {
        position: relative;
        text-decoration: none;
        padding-right: 20px;
        font-family: "Montserrat", sans-serif;
        color: $gray-500;
        font-size: 14px;
        transition: color 0.25s ease-in-out;
        line-height: 30px;

        &::after {
          font-family: "ETmodules";
          content: "3";
          font-size: 16px;
          position: absolute;
          right: 0;
          font-weight: 800;
          color:#f47b20;
        }
      }
      .basicbtn::after {
        display: none;
      }
      .dropdown-content {
        display: none;
        position: absolute;
        top: 30px;
        left: 0;
        background-color: $secondary;
        width: 200px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        color: $gray-500;
        .dropdown {
          position: static;
        }
        .dropdown:hover,
        .dropdown:focus-within {
          a {
            background-color: $primary;
            &::after {
              color: #f47b20;
            }
          }
          .anchor-wrap {
            color: $white;
            font-weight: 600;
          }
        }

        a {
          display: block;
          text-decoration: none;
          .anchor-wrap {
            text-align: left;
            font-family: "Montserrat", sans-serif;
            color: $gray-500;
            padding: 12px 20px;
            display: block;
            transition: 0.4s ease;
            font-weight: normal;
            overflow: hidden;
            position: relative;
            font-size: 14px;
            white-space: break-spaces;
            &::after {
              content: "";
              position: absolute;
              width: 80%;
              transform: scaleX(0);
              height: 2px;
              bottom: 12px;
              left: 20px;
              background-color: $white;
              transform-origin: bottom right;
              transition: transform 0.25s ease-out;
              color: #f47b20;
            }
          }
          &:hover {
            background-color: $primary;
            color: $white;
            &::after {
              color: #f47b20;
            }
            .anchor-wrap {
              font-weight: 600;
              color: $white;

              &::after {
                color: #f47b20;
                transform: scaleX(1);
                transform-origin: bottom left;
              }
            }
          }
          &.dropbtn {
            display: flex;
            justify-content: space-between;
            align-items: center;
            &::after {
              position: static;
              transform: rotate(270deg);
            }
          }
        }

        .dropdown-content {
          top: 0;
          bottom: 0;
          left: 100%;
          background-color: $primary;
          a,
          .anchor-wrap {
            color: #f47b20;
            
          }
        }
      }
    }
    .search-logo {
      cursor: pointer;
    }
  }
  .search-container {
    background-color: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: calc(100vh - 99px);
    z-index: 2;
    display: none;
    padding: 20px 0;
    &.show {
      display: block;
    }
    .container {
      height: 100%;
    }
    .close-btn {
      position: absolute;
      top: 30px;
      right: 0;
      width: 24px;
      height: 24px;
      cursor: pointer;
      @include mediaQueries(mobile) {
        top: 15px;
      }
    }
    .inputs-container {
      width: 600px;
      max-width: 80%;
      margin-bottom: 10px;
    }
    .input-container {
      margin-bottom: 10px;
    }
    .search-input {
      width: 100%;
      border-radius: 25px;
      height: 48px;
      padding: 5px 15px;
      background-color: #f1f1f1;
      border: 1px solid #00aec7;
      &:focus,
      &:active,
      &:focus-visible {
        border: 1px solid #00aec7;
        outline: none;
      }
    }
    .clear-btn {
      width: 16px;
      height: 16px;
      filter: invert(48%) sepia(29%) saturate(5949%) hue-rotate(157deg)
        brightness(101%) contrast(103%);
      position: absolute;
      z-index: 1;
      top: 16px;
      right: 15px;
      cursor: pointer;
      display: flex;
    }
    .dropdown.show .dropdown-btn {
      border-radius: 3px 3px 0 0;
    }
    .dropdown-btn {
      height: 40px;
      border-radius: 0;
      background: transparent;
      border-color: $secondary;
      color: #646464;
      padding: 5px 16px;
      border-radius: 3px;
      &::after {
        color: #f47b20;
      }
      &:focus {
        background: transparent;
        color: #f47b20;
        border-color: $secondary;
      }
    }
    .dropdown-content {
      border-radius: 0;
      transform: translate3d(0px, 40px, 0px) !important;
      border-color: $secondary;
      border-radius: 0 0 3px 3px;
      border-top: none;
      padding: 0;
      a {
        height: 39.8px;
        padding: 5px 16px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid $secondary;
        &:hover,
        &.selected {
          background-color: $secondary;
          color: #f47b20;
        }
      }
      &:last-child a {
        border-bottom: none;
      }
    }
    .no-result {
      padding: 64px;
      color: #1b1b32;
    }
    .search-results {
      flex: auto;
      overflow: auto;
    }
    .search-results .label {
      padding: 10px 16px 0 16px;
      margin-bottom: 16px;
      color: #1b1b32;
    }
    .search-item {
      gap: 1em;
      padding: 16px;
      &:hover {
        background-color: #f7f7f7;
      }
      img {
        width: 98px;
        height: 98px;
        object-fit: cover;
      }
      h2 {
        padding: 5px 0 10px 0;
        font-size: 110%;
        font-weight: 700;
        letter-spacing: 1px;
        margin: 0;
        a {
          text-decoration: none;
          color: #1b1b32;
          &:hover {
            color: $secondary;
            text-decoration: underline;
          }
        }
      }
      p {
        color: #656666;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }
  }
  .mobile-menu {
    background-color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    height: 0;
    z-index: 1;
    overflow: hidden;
    .slides {
      display: flex;
      overflow-x: hidden;
      scroll-snap-type: x mandatory;
      scroll-behavior: smooth;
      -webkit-overflow-scrolling: touch;
      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
      &::-webkit-scrollbar-thumb {
        background: none;
        border-radius: 0;
      }
      &::-webkit-scrollbar-track {
        background: transparent;
      }
    }
    .slides > div {
      width: 100%;
      scroll-snap-align: start;
      flex-shrink: 0;
      transform-origin: center center;
      transform: scale(1);
      transition: transform 0.5s;
      position: relative;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #00000008;
      a {
        flex: auto;
        font-size: 14px;
        font-weight: 500;
        color: #2b2b2b;
        padding: 10px 5%;
        text-decoration: none;
      }
      .back-btn {
        &:before {
          font-family: "ETmodules";
          content: "\38";
          font-weight: normal;
          padding-right: 2px;
        }
      }
      .sub-btn {
        width: 20%;
        text-align: right;
        padding: 10px 5%;
        &:after {
          font-family: "ETmodules";
          content: "\39";
          font-size: 14px;
          font-weight: 500;
          color: #f47b20;
          font-size: 14px;
          font-weight: 700;
        }
      }
      &.active a,
      &.active .sub-btn:after {
        color: #f47b20;
      }
      &.hidden {
        display: none;
      }
    }
  }

  @include mediaQueries(ipad) {
    display: flex;
    flex-direction: column;
    .main-nav,
    .main-mobile-nav {
      display: flex !important;
      align-items: center;
      justify-content: space-between;
      .right-buttons-group {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
    }
    .mobile-menu {
      transition: all 0.3s;
      &.show {
        height: calc(100vh - 142px);
        padding: 7px;
      }
    }
    .search-container {
      height: calc(100vh - 82px);
      > .container {
        width: 95%;
      }
    }
  }
  @include mediaQueries(mobile) {
    display: flex;
    flex-direction: column;
    .main-nav,
    .main-mobile-nav {
      display: flex !important;
      align-items: center;
      justify-content: space-between;
      .right-buttons-group {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
    }
    .mobile-menu {
      transition: all 0.3s;
      &.show {
        height: calc(100vh - 142px);
        padding: 7px;
      }
    }
    .logo {
      width: 200px;
      height: auto;
    }
    .search-container {
      height: calc(100vh - 82px);
      > .container {
        width: 95%;
      }
    }
  }
}
