$primary: #07aec7;
$secondary: #e0fbff;
$tertiary: #fdf1e8;
$gray-600: #d3d3d3;
$gray-500: #646464;
$gray-400: #cccccc;
$gray-300: #e9ecef;
$gray-200: #b4b4b4;
$gray-100: #efefef;
$brown-100: #efefef;
$white: #fff;
$black: #2b2b2b;
$green: #3d9305;
$text-dark: #231f20;
